$green-palette: (
    50: '#e5f4e5',
    100: '#bce6bc',
    200: '#91d791',
    300: '#65c865',
    400: '#47bb47',
    500: '#2ea532',
    600: '#299b2e',
    700: '#248f24',
    800: '#208320',
    900: '#176c17',
    A100: '#bce6bc',
    A200: '#91d791',
    A400: '#47bb47',
    A700: '#248f24',
);


@import '@angular/material/prebuilt-themes/indigo-pink.css';


